<!DOCTYPE html>
<html ng-app="ShortUploads">
<head>
  <title>Short Uploads - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
  <link rel="stylesheet" href="static/homepage.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Teko:500" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"> -->
</head>
<body ng-controller="AuthController">
  <br><br><br><br>
  <div class="container-fluid page-height">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="container">
          <div class="align-middle row">
            <div class="col-md-12 text-center logo-div">
              <br><br><br><br>
              <div class="row">
                <div class="col-md-8">
                  <img src="static/dribble_camera.gif">
                </div>
                <div class="col-md-4">
                  <br>
                  <img src="static/logo.png" style=" padding:0px; height: 250px; border-radius: 10%; box-shadow: 0 2px 12px 6px rgba(0,0,0,0.08), 0 2px 12px 0 rgba(0,0,0,0.08), 0 2px 12px 0 rgba(0,0,0,0.08)"><br>
                </div>
              </div>
              <!-- <span class="logo1">SHORT</span>
              <span class="logo2">UPLOADS</span> -->
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="container">
          <div class="auth-div align-middle">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center">Sign Up</h4><hr>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <a href="/googlelogin" class="btn btn-danger btn-block">
                  <span class="fab fa-google-plus-g"></span>
                </a>
              </div>
              <div class="col-lg-6 col-md-6">
                <a href="/facebooklogin" class="btn btn-primary btn-block">
                  <span class="fab fa-facebook-f"></span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 text-center" style="margin-top:5px;">
                <a class="btn btn-dark btn-block" href="gallery.html">Welcome as a Guest</a>
              </div>
            </div>
            <br>
            <div class="row">
                <p class="alert alert-danger" ng-repeat="val in result['result']" style="width: 100%" hidden>{{ val }}</p>
              <div class="col-lg-12">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item col-6">
                    <a class="nav-link  text-center active" data-toggle="tab" href="#login" role="tab">Log In</a>
                  </li>
                  <li class="nav-item col-6">
                    <a class="nav-link text-center " data-toggle="tab" href="#signup" role="tab">Sign Up</a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active" id="login" role="tabpanel">
                      <form method="POST" action="/login" class="form text-center">
                      <div class="form-group">
                        <input type="email" class="form-control" id="loginemail" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="loginpassword" name="password" placeholder="Password">
                      </div>
                      <button type="submit" id="loginbtn" class="btn btn-yellow">Log In</button>
                    </form>
                  </div>
                  <div class="tab-pane" id="signup" role="tabpanel">
                    <form method="POST" ng-submit="getResults()" class="form text-center">
                      <div class="form-group">
                        <input type="text" name="name" class="form-control" id="signup_email" aria-describedby="emailHelp" placeholder="Enter your Name" ng-model="name" required>
                      </div>
                      <div class="form-group">
                        <input type="email" name="email" class="form-control" id="signup_email" aria-describedby="emailHelp" placeholder="Enter your Email Address" ng-model="email" required>
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="signup_password" name="password" placeholder="Set a Password" ng-model="password" required>
                      </div>
                      <button type="submit" class="btn btn-yellow">Sign Up</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>  
            <small>See our <a href="/">terms of service</a> and <a href="/">privacy policy</a></small>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-6 col-md-12 background-yellow">
        <div class="container"> 
          <nav class="fixed-bottom text-center col-lg-6 col-md-12">
              <a class="navbar-brand" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="navbar-brand" href="#"><i class="fab fa-google-plus-g"></i></a>
              <a class="navbar-brand" href="#"><i class="fab fa-twitter"></i></a>
              <a class="navbar-brand" href="#"><i class="fab fa-youtube"></i></a>
            <br>
            <br>
          </nav>
        </div>
      </div>
    </div> -->
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="static/main.js"></script>
</body>
</html>