body {
	height: 100%;
    font-size: 16px;
    background: url("/static/bg.jpeg");
}

.background-yellow {
	/*background-color: rgba(255, 193, 7, 0.75);;*/
	background-color: transparent;
}

.logo1 {
  font-family: 'Teko', cursive;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: black;
  color: white;
  font-size: 52px;
  font-weight: 600;
}

.logo2 {
  font-family: 'Teko', sans-serif;
  padding-left: 5px;
  border-top: 2px solid black; 
  border-bottom: 2px solid black; 
  color: black;
  font-size: 48px;
}

.background-black {
	background-color: transparent;
}
.page-height {
	/*height: 100%;*/
	/*background-image: url("/images/bg2.png");*/
	height: 100%;
	/*background-image: url("../images/subg.png");*/
	/*background-repeat: no-repeat;*/
	/*background-color: rgba(0, 0, 0, 0.92);*/
}
.btn-black {
	background-color: black;
	color: white;
	border-radius: 0px;
}
.heading {
	background: 0 0;
	padding: 1.5%;
	padding-bottom: 1.5%;
    font-family: 'Kaushan Script';
	font-size: 48px;
	color: #feb136;
}
.btn-yellow {
	background-color: #feb136;
}
.btn-outline-danger {
	letter-spacing: 1.9px;
}
.row {
	padding-bottom: 1px;
}
.nav-item {
	padding-left: 0px;
	padding-right: 0px;
}
.nav-link {
	color: black;
}
.nav-tabs {
	border-bottom: none;
}
.nav-link.active {
	color: black !important;
	border: none !important;
	background-color: transparent !important;
	border-bottom: 2px solid red !important;
}
.nav-link:hover {
	color: black !important;
}
.tab-pane {
	padding: 10px;
}
.form {
	padding: 10px;
}
.auth-div {
	margin: 20%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5%;
	color: black;
	background-color: #fff;
	box-shadow: 0 2px 12px 6px rgba(0,0,0,0.06), 0 2px 12px 0 rgba(0,0,0,0.06), 0 2px 12px 0 rgba(0,0,0,0.08)
}

.logo-div {
	/*box-shadow: 0 2px 12px 6px rgba(0,0,0,0.06), 0 2px 12px 0 rgba(0,0,0,0.06), 0 2px 12px 0 rgba(0,0,0,0.08);*/
	/*background-color: black;*/ 
	padding: 0;
}